

<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3>Tuits Feed!</h3>
		<%= render 'shared/feed' %>
	</div>
</div>	
<% else %>
	<div class="center hero-unit">

	<h1>Bienvenido al Tuiter</h1>

	<h2>Esta es la <%= link_to "pagina principal", root_path%> de mi tuiter</h2>

	<%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary"%>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

<%end%>

